#check-your-mood.row
    .col-sm-12
        .panel-5.col-sm-2.col-xs-12
        .white.col-sm-10.col-xs-12
            .title Check Your Mood
            .description We can all feel low or anxious from time to time. Take this simple questionnaire to get advice on the support you might need.
            .button-container
                #check-mood-btn.check-mood-popup-btn Check Now