#courses-discounts.row
    .col-xs-12
        .title Online Courses & Apps
    .col-md-offset-0.col-md-12.col-sm-offset-2.col-sm-8.col-xs-12
        .offers.row
            .offer-outer-panel.col-md-3.col-sm-6
                .offer-panel
                    .offer-panel-container
                        .offer-image.panel-1
                        .offer-inner-panel
                            .offer-container
                                .offer-title
                                    a(href="https://vhi.thrive.uk.com/" target="_blank") Free 1 month Thrive trial
                                .description An evidence based app to help you deal with stress, anxiety and depression.
                                .link
                                    a(href="https://vhi.thrive.uk.com/" target="_blank") Start >
            .offer-outer-panel.col-md-3.col-sm-6
                .offer-panel
                    .offer-panel-container
                        .offer-image.panel-2
                        .offer-inner-panel
                            .offer-container
                                .offer-title
                                    a(href="https://demo.mindlab.ie/headwise-2/" target="_blank") Free Mindfulness Course for Kids
                                .description An online Mindfulness course that improves teenagers concentration, focus and drive.
                                .link
                                    a(href="https://demo.mindlab.ie/headwise-2/" target="_blank") Start >
            .offer-outer-panel.col-md-3.col-sm-6
                .offer-panel
                    .offer-panel-container
                        .offer-image.panel-3
                        .offer-inner-panel
                            .offer-container
                                .offer-title
                                    a(href="https://demo.mindlab.ie/mindfulness/" target="_blank") Free Mindfulness Course
                                .description Learn to live life more fully, gain clarity and reduce stress with Mindfulness.
                                .link
                                    a(href="https://demo.mindlab.ie/mindfulness/" target="_blank") Start >
            .offer-outer-panel.col-md-3.col-sm-6
                .offer-panel
                    .offer-panel-container
                        .offer-image.panel-4
                        .offer-inner-panel
                            .offer-container
                                .offer-title
                                    a(href="https://demo.mindlab.ie/for-couples/" target="_blank") Free Relationship Bootcamp Course
                                .description Energise your relationship and rekindle the romance with our online Relationship Bootcamp.
                                .link
                                    a(href="https://demo.mindlab.ie/for-couples/" target="_blank") Start >