nav#top-nav-bar.navbar.navbar-default.navbar-fixed-top
    .container.navbar-container
        .navbar-header
            .navbar-brand
                img#logo(src="images/logos-and-buttons/logo.png", srcset="images/logos-and-buttons/logo@2x.png 2x, images/logos-and-buttons/logo@3x.png 3x" alt="logo")
            .navbar-support
                img#nav-get-support-now.get-support-now-btn(src="images/logos-and-buttons/get-support-top.png", srcset="images/logos-and-buttons/get-support-top@2x.png 2x, images/logos-and-buttons/get-support-top@3x.png" alt="Get Support Now")
    #top-nav-bar-menu
        .container.navbar-container
            #bs-example-navbar-collapse-1.navbar-collapse
                ul.nav.navbar-nav
                    li.navbar-li
                        .check-mood-popup-btn CHECK YOUR MOOD
                    li.navbar-li
                        .tools-info-btn TOOLS & INFORMATION
                    li.navbar-li
                        .get-support-now-btn GET SUPPORT NOW