#ouibounce-modal(style="display: none;")
    .underlay
    .ouibounce-modal
        .ouibounce-modal-title
            h3 Thank you for stopping by!
        .ouibounce-modal-body
            p Would you be interested in taking a short survey to let us know what you think of the Mental Health Hub.
            a.survey-link(href="https://survey.euro.confirmit.com/wix/8/p1863946678.aspx" target="blank") Please click here to participate in the survey.
        .ouibounce-modal-footer
            p no thanks