#understanding.row
    .col-xs-12.col-sm-12
        .panel-5.col-sm-2.col-xs-12
        .white.col-sm-10.col-xs-12
            .title Understanding Irish Mental Health Services
            .description If you find you need help, it can be difficult to know where to go. Get information on the different kinds of other supports and information available in Ireland.
            .button-container
                #see-more See More