#benefits-to-paying-it-forward
    .article-image
        .exit-article.close-benefits-to-paying-it-forward-btn
    .article-content
        .title 3 benefits to paying it forward
        .article-text
            h3 Donating to charity, giving someone a thoughtful present, getting in touch with someone who needs some support – there are many ways you can give. But did you know that giving can be beneficial to your own health? It feels good to give. Here’s why:
            h3 1. IT MAKES YOU FEEL HAPPIER:
            p A 2006 study by the American National Institute of Health found that when people give, it activates regions of the brain associated with pleasure, social connection and trust, creating a “warm glow” effect. It is also believed that giving releases endorphins in the brain, which have the effect of energising you and making you happier.
            h3 2. IT CAN HELP YOU LIVE LONGER:
            p It’s been proven that providing emotional or practical help to friends and family can increase your life expectancy. One research study showed that older people who volunteer were 44 per cent more likely to live longer lives across the five-year study period than non-volunteers.
            h3 3. IT MAY HELP REDUCE STRESS:
            p Giving can help strengthen social bonds and relationships, which in turn support you in times of stress. Also, by actively choosing to not give, people can feel ashamed and that leads to lower cortisol levels, a key indicator of someone being stressed.
            h3 So next time you see someone in need of help on the street, a family member could use a useful pair of hands or you have a few spare quid for charity, give it a go. It helps others and helps you.
        .close-button
            button.close-benefits-to-paying-it-forward-btn Close