#dealing-with-social-anxiety
    .article-image
        .exit-article.close-dealing-with-social-anxiety-btn
    .article-content
        .title Dealing with social anxiety? Here are some ways to manage it
        .article-text
            h3 While of course there’s no time of year ideal to have social anxiety rear its head, the festive season is certainly one of the more challenging times. There are lots of events on – family, work, friends – and it can be difficult for those among us who find social situations particularly stressful.
            h3 Social anxiety varies in severity from being a diagnosed disorder treated by mental health professionals, to more moderate cases. It can be defined as persistent anxiety about social situations that is out of proportion to the actual threat of the situation itself.
            h3 Bearing this in mind, we’ve put together a list of things you can do this Christmas to reduce the feelings of fear that socialising might bring on.
            h3 1. TRY TO LEARN WHAT SETS IT OFF
            p Situations or emotions that bring on anxiety are often called ‘triggers’. Try to keep a diary to make note of your feelings of anxiety and see if you can work out a pattern over time. It may be that certain situations when out or at work are consistently presenting issues. Knowing what causes your anxiety will help you manage it.
            h3 2. REMEMBER THAT YOU’RE NOT ALONE
            p When you start feeling anxious in social situations, or worrying about attending a certain event or speaking to certain people, it can feel very isolating. It’s important to remember that many people experience these feelings – by some research estimates, almost 10% of us. It may seem that everyone else has an easy time of it in social situations, but that’s not the case.
            h3 3. LOOK INTO SOME COPING STRATEGIES
            p There are lots of things you can try to help your feelings of worry or stress when out with other people. Meditation techniques will teach you how to relax your muscles and release tension, while breathing exercises will help slow your heart rate.
            p Writing a list of your fears and trying to face them rather than avoid them is another way to reduce anxiety by showing yourself these things aren’t so scary in reality as they may seem in your mind.
            p Caffeine, smoking and alcohol may exacerbate your anxiety, so try and avoid these if they are triggering negative feelings. You can also challenge negative thoughts with counselling techniques such as cognitive behavioural therapy, which is based around resetting patterns that lead to anxiety or depression.
            p If you’re concerned about your feelings of anxiety around social events, don’t hesitate to visit your GP for further advice about support services near you.
        .close-button
            button.close-dealing-with-social-anxiety-btn Close