#manage-child-tantrums
    .article-image
        .exit-article.close-manage-child-tantrums-btn
    .article-content
        .title How do I manage and reduce my child’s tantrums?
        .article-text
            h3 Parents know all too well that, unfortunately, tantrums are a part of life when bringing up little ones. Even the most placid of children will occasionally have a little wobble. We’ve put together some tips on how to cope with and over time reduce tantrums occurring – but if you’re concerned about your toddler’s moods, ask your GP for advice.
            h3 WHAT CAUSES TANTRUMS?
            p Tantrums are often caused by frustration – children aren’t able to express themselves as adults can, and their emotions can often bubble over into tantrums instead. Tantrums may also be made worse by circumstances such as a child being in unfamiliar surroundings or feeling over-tired, hungry, under the weather or so on.
            p Think of it this way – we all feel frustrated, angry or anxious as adults sometimes, but we have different ways to express these feelings. Toddlers generally release them through tantrums as they develop and learn other ways to deal with emotions.
            h3 AT WHAT AGES ARE TANTRUMS MOST COMMON?
            p Tantrums often start at about 18 months, when a toddler wants to express themselves but still lacks the skills to fully articulate what they want or need. Usually these tantrums will tend to level off at around 4 years of age – but of course every child and circumstance is different, so there is no real yardstick for when tantrums cease, depending on the family, child and situation.
            h3 WHAT CAN I DO TO STOP THE TANTRUM IN THE MOMENT?
            p Try to understand why the tantrum is happening and deal with the underlying issue if you can. Don’t lose your temper back – even if the child hits, kicks, struggles or bites in the moment. Remember that they may not understand properly how much this hurts.
            p Talk to them reassuringly and calmly – they may be more upset than angry. Holding them may help.  Sometimes putting the child into another room to cool off helps, but make sure they’re safe in there first.
            p Be prepared for tantrums – don’t let them catch you unaware. If you know that sweets and treats when you’re out shopping are a trigger, formulating a plan before you enter the shopping centre will help you keep your cool when a tantrum crops up. Keeping your child entertained by involving them in errands may help.
            h3 HOW CAN I REDUCE MY CHILD’S TANTRUMS OVER TIME?
            p A key thing to remember is to not give in, as this may inadvertently teach your child that tantrums are effective!
            p Help your child channel their emotions constructively. Bring them to a park and let them run around to let off steam and energy or provide art materials at playtime so they can express themselves that way.
            p The most important thing is to keep talking to your child. Explain that you see they’re feeling upset or angry – this will help them put a name on their emotions and also help them feel like you understand and listen to them.
        .close-button
            button.close-manage-child-tantrums-btn Close