#unplug-from-technology
    .article-image
        .exit-article.close-unplug-from-technology-btn
    .article-content
        .title It’s good to unplug from technology every now and then – here’s why
        .article-text
            h3 While technology keeps us connected and on top of everything, we’re probably all too aware of the downsides of either ourselves or loved ones having their head in their phone too often. From checking social media every chance we get or being inundated with emails, it helps to unplug every now and then. Here’s a closer look at why.
            h3 CAN USING MY PHONE TOO OFTEN AFFECT MY MENTAL HEALTH?
            p It’s hard to believe, but in Ireland we check our phones an average of 57 times a day. That’s probably because so many of us enjoy scrolling through social media like Facebook, Instagram and Twitter.
            p When using social media we need to be careful not to fall into the trap of comparing our own lives with other people’s, which may leave some of us feeling anxious or low. Physically speaking, overexposure to bright screens throughout the day can make it more difficult to fall asleep at night and have a negative impact on our overall mood and well-being.
            h3 HOW CAN I CUT BACK ON USING MY PHONE?
            p Here are a few simple ways you can cut back on your daily device usage.
            ul.listStyle
                li
                    p Keeping your phone out of sight and reach when you’re not using it to remove any temptation of checking it.
                li
                    p Reduce screen time before bed, consider reading a book instead.
                li
                    p Try wearing a watch to check the time instead of using your phone.
                li
                    p Log out of your social media apps when you’re not using your phone to prevent notifications coming in, removing the temptation to check them.
                li
                    p When spending time with friends and family, do your best to ignore your emails, calls and texts. Ask yourself: Do they really need an immediate response?
                li
                    p Download an app that tells you how frequently you open your phone and which apps you use most. Understanding your phone usage makes it easier to cut back.
            h3 WHAT ARE THE BENEFITS OF UNPLUGGING EVERY NOW AND THEN?
            p Whether our phone has a direct impact on our mental health or not, we can all benefit from unplugging every now and then. Unplugging creates a bit of space for some quiet time where you can be mindful and check in with your own thoughts. On top of that, giving other people our undivided attention allows us to create a deeper connection with loved ones.
            h3 HOW CAN I ENCOURAGE MY KIDS TO LEARN GOOD HABITS WITH THEIR DEVICES?
            p The best way to encourage your kids to do something is to lead by example. When you’re trying to get the kids to introduce some device free time, it’s easier if the adults aren’t using their own devices either.
            p Try going out together for a long walk or playing a board game as a group. Whether your kids are old enough to have their own phones or not, introduce a ‘no phones rule’ for everyone at the dinner table. This will stimulate conversation and everyone is likely to sit down and enjoy each other’s company for longer.
            h3 CAN USING MY PHONE ACTUALLY BE BENEFICIAL SOMETIMES?
            p While unplugging from our phones is recommended it is also important to remember that there are also ways our phones can benefit us. Technology is great for keeping us social and connected. It also empowers older people, which benefits their mental health.
            p Everyone’s use of technology is different. The key to technology as with everything else is moderation and balance.
        .close-button
            button.close-unplug-from-technology-btn Close