#baby-blues-and-postnatal-depression-lets-talk
    .article-image
        .exit-article.close-baby-blues-and-postnatal-depression-lets-talk-btn
    .article-content
        .title Baby blues and postnatal depression – let’s talk
        .article-text
            h3 Pregnancy and childbirth are life-changing events and so tend to be highly emotional experiences. It’s perfectly normal for a new mother to feel tearful and experience low moods after childbirth.
            h3 We chatted to Vhi Wellbeing and Clinical Lead Dr Ui May Tan to discuss the emotional landscape that new parents navigate after childbirth – plus how to differentiate between the ‘baby blues’ and postnatal depression.
            h3 CAN YOU EXPLAIN WHAT THE ‘BABY BLUES’ ARE?
            p After childbirth, a mother may feel low, weepy and irritable due to hormonal shifts. These feelings are perfectly normal and are known as the ‘baby blues’. This tends to crop up a week or two after giving birth.
            h3 HOW DOES THIS DIFFER TO POSTNATAL DEPRESSION (PND)?
            p The baby blues are common, whereas PND is less so, being experienced by around 1 in 10 women. It’s also generally of a longer duration.
            p PND can result in low moods, disturbed sleep, poor concentration, low self-esteem, loss of enjoyment or pleasure and feelings of guilt. Most commonly, it develops in the first four weeks after giving birth.  In some rarer cases, a mother may experience PND several months after the birth.
            h3 WHO IS LIKELY TO HAVE POSTNATAL DEPRESSION?
            p Postnatal depression can affect anyone. There are however factors that can increase a mother’s chances of experiencing postnatal depression.
            p Take a look at this checklist of risk factors below:
            ul.listStyle
                li
                    p A history of mental health problems
                li
                    p Poor support
                li
                    p Having a difficult relationship with their partner
                li
                    p Unplanned pregnancy
                li
                    p Unemployment
                li
                    p Not breastfeeding
                li
                    p Antenatal parental stress
                li
                    p Antenatal thyroid dysfunction
                li
                    p Depression in the father of the child
                li
                    p Having 2 or more children
                li
                    p Current/history of substance misuse
                li
                    p Neonatal low birth weight or illness
            h3 IF SOMEONE THINKS THEY ARE DEVELOPING THE SYMPTOMS OF POSTNATAL DEPRESSION, WHAT’S THE FIRST THING THEY SHOULD DO?
            p Talk to your doctor about how you’re feeling. They will assess you and help you to create strategies and ways of managing how you’re feeling. Recovery rates are very good.
            p One thing I recommend is that you involve your partner and family in what you are experiencing. It can be extremely empowering to have the support of your loved ones. It is also important to communicate.
            h3 HOW IS PND TREATED?
            p Postnatal depression is often treated like other forms of depression. Strategies to treat depression include high intensity psychological interventions, guided self-help or antidepressants.
            h3 AND FINALLY – ARE THERE ANY OTHER POST-PREGNANCY MENTAL HEALTH ISSUES A MOTHER MIGHT EXPERIENCE?
            p Yes however, it’s much more rare. 1 in 1000 mothers might experience Postpartum Puerperal Psychosis. This is a rare psychiatric emergency in which someone might experience symptoms of high mood and racing thoughts (mania), depression, severe confusion, loss of inhibition, paranoia, hallucinations and delusions. Puerperal Psychosis begins suddenly in the first two weeks after birth.
            p If you’re concerned about yourself or a loved one, contact your GP or hospital for further information and advice.
        .close-button
            button.close-baby-blues-and-postnatal-depression-lets-talk-btn Close