#combating-workplace-bullying
    .article-image
        .exit-article.close-combating-workplace-bullying-btn
    .article-content
        .title Your guide to coping with and combating workplace bullying
        .article-text
            h3 Being bullied by a colleague or employer can lead to feelings of anger, hurt, fear, humiliation and isolation. All of these emotions can take a toll on mental health and may even lead to anxiety or depression.
            h3 If you’re concerned about yourself or a loved one being the victim of a bully in the workplace, here’s some information that may help.
            h3 AM I BEING BULLIED?
            p Workplace bullying – like all bullying – can take many different physical and emotional forms, depending on the situation and bully in question. Bullying is often described as being part of a repeated pattern rather than a one-off incident.
            h3 WHY IS THIS HAPPENING TO ME?
            p Bullying can happen to anyone, at any time – no matter their age, gender, position and so on. However, in almost three-quarters of workplace bullying claims, the bully is in a more senior position to their victim, although there are also cases where the bully is more junior or on an equal level.
            p Being bullied at work does not mean that you are weak. Sometimes, it’s someone’s strengths at work that can trigger a bully to target them.
            h3 WHAT CAN I DO TO STOP IT?
            p Firstly, ask for advice from someone who can help who you trust – be that your manager, supervisor, a union representative, a colleague in HR or a solicitor. If the situation is affecting your mental health, do not hesitate to contact your GP.
            p With workplace bullies, survival instincts kick in – fight or flight. In some cases, where the culture of bullying is very entrenched within an organisation, leaving the company might be the best option while you assess the situation.
            p This is a valid thing to do if your job is affecting your mental health. You can discuss this with your GP. However, leaving may not always be a viable or desirable option and that’s understandable too.
            h3 HOW CAN I COMBAT THE EFFECTS OF WORKPLACE BULLYING ON MY MENTAL HEALTH?
            p There are several things you can do to try and alleviate the stress of the situation.
            ul.listStyle
                li
                    p Talk to a trusted friend and ask for advice
                li
                    p Talk to the bully – they may not realise how they are affecting you
                li
                    p Keep a diary – this is to record the incidents in case you need to support yourself later, but may also ease your mind
                li
                    p Stay calm and be strong
            p Remember that you can always make a formal complaint if you cannot solve this problem yourself with the above tips.
            h3 HOW CAN I PROMOTE A HEALTHY ANTI-BULLYING CULTURE AT WORK?
            p Bullying is more likely to occur when bullies feel they have the support or at least the implicit acceptance of senior managers. The Health and Safety Authority of Ireland have put together some comprehensive information for employers, employees and managers,
                a(href="http://www.hsa.ie/eng/Workplace_Health/Bullying_at_Work/")  which you can find here.
        .close-button
            button.close-combating-workplace-bullying-btn Close