#help-cope-loss-loved-one
    .article-image
        .exit-article.close-help-cope-loss-loved-one-btn
    .article-content
        .title 5 tips to help you cope with the loss of a loved one
        .article-text
            h3 While it’s something that we all will experience in our life, losing a loved one is one of the most difficult things to go through.
            h3 There are ways to get through this tough time. You don’t have to deal with the feelings that grief brings by yourself. Here are some tips to help you cope during this challenging period.
            h3 1. UNDERSTANDING YOUR GRIEF
            p Go easy on yourself. Grief is natural. Allow yourself to feel these difficult emotions, which may include anger and hopelessness. Reach out to family and friends – it helps to talk about how you’re feeling.  Routine, sleep, a balanced diet and counselling will help you through this.  Be aware that grief is tiring. It may slow you down. Try to rest in the daytime if you are having trouble sleeping, or tell your GP about this. If you have difficulty eating, remember just to eat what you can every day.  Avoid too much alcohol as it may make your emotions more difficult to manage.
            h3 2. DEALING WITH LOSS AT WORK
            p It may be stressful to return to work after a bereavement. Your work may assist with this by allowing you back part-time. Alternatively, start back on a half day towards the end of the working week so that it is easier to cope with returning.
            p Make sure to ask your employer about their policies around bereavement, and communicate how you are feeling to your manager too. Remember to take care of yourself and ask for support from colleagues if you need it. Don’t take on too much too soon.
            h3 3. THE DEATH OF A VERY CLOSE LOVED ONE
            p You must trust that the pain will become bearable over time, even if it doesn’t seem like it at first.  It’s okay to find some days more difficult than others, or feel like you’re not getting better at some points. Give yourself the time to heal. Don’t be afraid that healing means forgetting.
            p In the future, anniversaries and birthdays may be difficult. It helps to plan in advance for dates or times of the year, such as Christmas or the New Year, that you know will be difficult in the future too. Visiting your loved one’s grave on these days might help you feel close to them at these difficult times.
            h3 4. HELPING SOMEONE YOU KNOW COPE WITH LOSS
            p Make contact with the person who has been bereaved to express your condolences – perhaps share a memory of the person who passed away if you knew them. Try to attend the funeral or removal if you can and if this is appropriate. Offer practical help if you can. It’s okay to not know what to say – just let them know you’re there if they need you.
            p If you know the person less well, still try to acknowledge the loss. Try not to avoid them out of embarrassment, even if you find this difficult. Remember, always take the lead from the person who is grieving.
            h3 5. CHILDREN AND LOSS
            p Children’s grief will depend on their age and their understanding of death, as well as their relationship with the person who died. Support children through bereavement by offering information, involvement, routine and the space to express their feelings.
            p If the intense emotions associated with grief do not subside over time and you feel you are not able to cope, contact your GP for advice.
        .close-button
            button.close-help-cope-loss-loved-one-btn Close