#keeping-on-top-of-stress-at-work
    .article-image
        .exit-article.close-keeping-on-top-of-stress-at-work-btn
    .article-content
        .title Keeping on top of stress at work – simple tips to build mental fortitude
        .article-text
            h3 Feeling a bit snowed under at work? Well, you’re certainly not alone.
            h3 According to research undertaken in the past two years, 82% of Irish people have reported that they feel stress at work.
            h3 With that in mind, it’s a good idea to have some stress-busting tips in your arsenal for when deadlines arrive or those tasks seem to be mounting. Let’s take a look at some simple ways to achieve some office zen – with all of the below 4 tips perfect for doing at your workspace.
            h3 ALWAYS TAKE A MOMENT TO BREATHE.
            p If you’re coming out of a tense meeting and need to clear your head, or perhaps you’re nervous about a presentation coming up, deep breaths can calm your nerves. Inhale slowly through your nose for a count of 5, then exhale through your mouth for 5. Repeat as you need.
            h3 Write it down to get it out.
            p Sometimes it can be difficult to juggle priorities, leaving us feeling overwhelmed by the amount left to be done. By writing everything down, you can immediately visualise what tasks need to be tackled and when. By getting them out of your head and onto paper, you’ll make them feel much more manageable. Ticking things off as they are completed with also help you feel much more productive. Win/win.
            h3 PRACTICE SELF-COMPASSION.
            p Remember to go easy on yourself. When you get into a negative thought spiral about work-related issues, ask yourself this: “What would I say to a friend if I heard them say this about themselves?” We’re often our own harshest critics.
            h3 DON’T BE TEMPTED TO SKIP MEALS.
            p Coffee isn’t breakfast! Your diet doesn’t just have a physical impact, it has an impact on your mental health too. A good rule of thumb is to go for protein-heavy meals in the morning, such as eggs or Greek yoghurt, to set you up properly for the working day. Extra tip: Keep almonds on your desk for when you’re stuck.
        .close-button
            button.close-keeping-on-top-of-stress-at-work-btn Close