#parenting-expert-niamh-hannan
    .article-image
        .exit-article.close-parenting-expert-niamh-hannan-btn
    .article-content
        .title We spoke to parenting expert Niamh Hannan to get the low-down on self-care when raising kids
        .article-text
            h3 Parenting is a lifelong role. Across that, there are peaks and troughs. There are the times we love to remember, the happy memories and joyous days spent together, but it’s also important to acknowledge that there are difficult periods too.
            h3 When parenting gets tough, it’s important to speak out and ask for help. We contacted Vhi Wellness Trainer and Chartered Psychologist with a specialisation in parenting Niamh Hannan to answer a few essential questions for mums and dads.
            h3 IF YOU COULD GIVE ALL PARENTS ONE PIECE OF ADVICE, WHAT WOULD THAT BE?
            p Get support, make time for yourself, look after your own self-care. When we are in a good space ourselves, parenting is so much easier and your coping skills are improved.
            h3 IN TERMS OF FRICTION CAUSED IN CO-PARENTING – WHAT DO YOU ADVISE HERE FOR COUPLES?
            p Very often parents have different parenting styles; you’ve got to remember you both came from different sets of parents too. When your parenting styles clash – support each other in front of the children, then discuss the issue later and try to come to some agreement. From the start, talk out any disagreements, each needs to understand the other’s point of view. There is very little right or wrong in parenting, you have to work things out as you go, and often need to change your approach to suit the child. Your relationship is more important than being right!
            h3 FOR PARENTS EXPERIENCING A BUMP IN THE ROAD WITH THEIR KIDS OR PARTNER, HOW DO YOU ADVISE THEM TO ACT IN ORDER TO PROTECT THEIR OWN MENTAL HEALTH?
            p Make sure you are looking after number 1 – yourself. Take a look at your diet, exercise and sleep – the foundations of well-being. Talk to a trusted friend or a professional, don’t go through it all on your own.
            p Make time for yourself and for the things you enjoy. Remember, you’re normal, every parent or couple goes through tough times and everybody needs a helping hand sometime. With support, most things can be worked through.
            h3 AND LAST BUT NOT LEAST, IS THERE ANY SPECIFIC ADVICE YOU HAVE FOR SINGLE PARENTS?
            p Look at your support system and build resources. We all need help sometimes, so be aware of neighbours who can be called in an emergency; grandparents, friends, and the possibility of building supports by joining local parent toddler groups, playgroups, making friends at the school-gates, etc. Don’t try to do it all on your own! You need support and help too, and that helps you to parent.
            i Niamh Hannan (
                a(href="http://mindworks.ie/") Mindworks.ie
                | ) is a Chartered Psychologist with 18 years of specialised experience counselling teenagers and parents. She was the parenting expert on Newstalk’s Moncrieff Show for 2 years.  If you are struggling, seek help by talking to your GP or a local counsellor/therapist.
        .close-button
            button.close-parenting-expert-niamh-hannan-btn Close