#understanding-language-mental-health
    .article-image
        .exit-article.close-understanding-language-mental-health-btn
    .article-content
        .title Understanding the language of mental health
        .article-text
            h3 An estimated one in five of us in Europe will experience mental health problems at some stage in our life.  This can range from a low period up to something more significant such as a severe bout of depression requiring medical treatment.
            h3 Despite its prevalence, sometimes some of the language used in mental health discourse can be a little confusing – and sometimes these terms can sometimes be used flippantly or incorrectly. This glossary has been put together to help explain some of the commonly used terms.
            h3 If you have any questions, you should always ask your GP or mental health professional for clarification and guidance.
            h3 ATTENTION DEFICIT HYPERACTIVITY DISORDER (ADHD)
            p Those diagnosed with ADHD may display symptoms such as inattentiveness, hyperactivity and impulsiveness. ADHD is often flagged at an early age and may become more noticeable when children start attending school, but may also be diagnosed later in life.
            h3 BIPOLAR
            p People with bipolar disorder have periods or episodes of depression and mania. Mania is feeling very high and overactive, whereas depression is characterised by lethargy and inactivity.
            h3 COGNITIVE BEHAVIOURAL THERAPY (CBT)
            p CBT can help people change the way in which they think, feel and behave, by using a combination of cognitive therapy and behavioural therapy.
            p Cognitive therapy is based on the idea that certain patterns and habits of thinking can lead to mental health problems, such as depression and/or anxiety. A person is taught how to understand their thought processes and how to identify any harmful, unhelpful, and false ideas they may have. The aim of CBT is to change the way we think and avoid these potentially unhealthy ideas.
            h3 DEPRESSION
            p A key difference between low moods and depression is the duration the symptoms last. Low moods tend to lift after a few days or weeks, whereas depression persists for a longer period of time. Some small changes may lift a low mood, such as increased rest, talking the issues out or taking steps towards resolving a life situation, whereas depression may be more difficult to treat.
            p People with depression normally may experience some or several the following symptoms:
            ul.listStyle
                li
                    p low mood for two weeks or more
                li
                    p loss of energy, feeling lethargic
                li
                    p struggling to find enjoyment in things
                li
                    p change in appetite
                li
                    p sleeping more – or less
                li
                    p anxiety
                li
                    p a lack of concentration
                li
                    p restlessness
                li
                    p feelings of worthlessness
                li
                    p guilt, or hopelessness
                li
                    p thoughts of self-harm
            p Depression can be treated with talking therapies, such as counselling or CBT as above, or antidepressant medication or a combination of both.
            h3 GENERAL ANXIETY DISORDER (GAD)
            p Anxiety is a feeling of unease that can be mild or severe. It often presents as worry or fear. While feeling anxious on occasion is perfectly normal, those with GAD find it hard to control this worry. Their anxiety is more constant and affects their daily life.
            p In addition, other mental health conditions may involve anxiety. Panic disorder, phobias and post-traumatic stress disorder can all cause severe anxiety.
            h3 OBSESSIVE COMPULSIVE DISORDER (OCD)
            p OCD is a condition in which the affected person has obsessive and intrusive thoughts and behaviours. It can develop at any age, but it typically develops during early adulthood or puberty.
            h3 PANIC ATTACKS
            p A panic attack is a sudden and intense feeling of anxiety. Panic attacks can have physical symptoms, including:
            ul.listStyle
                li
                    p shaking
                li
                    p feelings of disorientation
                li
                    p nausea
                li
                    p rapid heartbeat
                li
                    p dry mouth
                li
                    p breathlessness
                li
                    p sweating
                li
                    p dizziness
            p For someone experiencing a panic attack for the first time, these symptoms may be confused for a physical reaction – however panic attacks do not cause any lasting physical harm outside of the episode itself.
            h3 POST-TRAUMATIC STRESS DISORDER (PTSD)
            p PTSD is an anxiety disorder triggered by very distressing events or experiences in a person’s life. A person with PTSD may relive the traumatic event through nightmares and flashbacks.
            p They may also experience feelings of isolation, irritability and guilt. PTSD may also result in insomnia, and difficulty in concentration.
            p If you’re concerned about your own mental health or that of a loved one, contact your GP for further guidance and support. You can also log on to support services such as
                a(href="http://aware.ie")  aware.ie
                |  and
                a(href="http://mentalhealthireland.ie")  mentalhealthireland.ie
                |.
        .close-button
            button.close-understanding-language-mental-health-btn Close