#footer-container.footer-wrapper
    #footer_authorisation.authorization-footer-container
        .authorization-footer-inner-container
            p
                img(src="images/logos-and-buttons/vhi-logo.png" alt="logo")
            .authorization-footer-texts
                p Vhi Healthcare DAC trading as Vhi Healthcare is regulated by the Central Bank of Ireland.
    #footer-wrapper
        footer#footer.main-footer-container
            .main-footer-inner-container
                .main-footer-copyrights Vhi, IDA Business Park, Purcellsinch, Dublin Road, Kilkenny, Ireland. All rights reserved. All contents © 2018 Vhi Group