#header-wrapper.row
    div(data-img="header-image-homepage-hero_image")
        header#header
            .header-panel-inner
                .header-panel.row
                    .title How Can We Help?
                    .description Modern life is busy and pressurised and many of us feel a strain on our mental health from time to time. Our Mental Health Hub will provide you with the tools and support to get a better understanding of your own mental health and provide you with the resources and advice you need to help you and those around you who may be struggling.
        section#hero-image-icons
            #icons.col-xs-12.col-sm-offset-1.col-sm-10
                #check-mood-container.check-mood-popup-btn.col-xs-4
                    #check-mood-icon.icon
                    #check-mood-text.help-panel-icon-text.button-menu CHECK YOUR MOOD
                #tools-info-container.tools-info-btn.col-xs-4
                    #tools-info-icon.icon
                    #tools-info-text.help-panel-icon-text.button-menu TOOLS & INFORMATION
                #get-support-now-container.get-support-now-btn.col-xs-4
                    #get-support-now-icon.icon
                    #get-support-now-text.help-panel-icon-text.button-menu GET SUPPORT NOW
        #crisis-support-info-triangle.crisis-support-click
            .crisis-info-icon
            .crisis-info-text CRISIS SUPPORT INFORMATION
        #mobile-crisis-support
            #mobile-crisis-support-btn.crisis-support-click
                .icon
                .text CRISIS SUPPORT INFORMATION