#check-mood-popup(style="display: none;")
    include ../popups/check-mood
#get-support-now-popup(style="display: none;")
    include ../popups/get-support-now
#crisis-support-popup(style="display: none;")
    include ../popups/crisis-support
#understanding-language-mental-health-popup.blog-article-popup(style="display: none;")
    include ../carousel-articles/understanding-language-mental-health
#manage-child-tantrums-popup.blog-article-popup(style="display: none;")
    include ../carousel-articles/manage-child-tantrums
#baby-blues-and-postnatal-depression-lets-talk-popup.blog-article-popup(style="display: none;")
    include ../carousel-articles/baby-blues-and-postnatal-depression-lets-talk
#help-cope-loss-loved-one-popup.blog-article-popup(style="display: none;")
    include ../carousel-articles/help-cope-loss-loved-one
#unplug-from-technology-popup.blog-article-popup(style="display: none;")
    include ../carousel-articles/unplug-from-technology
#dealing-with-social-anxiety-popup.blog-article-popup(style="display: none;")
    include ../carousel-articles/dealing-with-social-anxiety
#combating-workplace-bullying-popup.blog-article-popup(style="display: none;")
    include ../carousel-articles/combating-workplace-bullying
#parenting-expert-niamh-hannan-popup.blog-article-popup(style="display: none;")
    include ../carousel-articles/parenting-expert-niamh-hannan
#benefits-to-paying-it-forward-popup.blog-article-popup(style="display: none;")
    include ../carousel-articles/benefits-to-paying-it-forward
#keeping-on-top-of-stress-at-work-popup.blog-article-popup(style="display: none;")
    include ../carousel-articles/keeping-on-top-of-stress-at-work
#depression-recognising-the-subtle-signs-popup.blog-article-popup(style="display: none;")
    include ../carousel-articles/depression-recognising-the-subtle-signs