#preload-images
    img(src="images/Hero-Image" width="1" height="1" alt="Hero Image")
    img(src="images/MH-Services.jpg" width="1" height="1" alt="Understanding Irish Mental Health Services")
    img(src="images/stefan-stefancik-297983-unsplash.jpg" width="1" height="1" alt="Check Your Mood")
    img(src="images/logos-and-buttons/get-support-bottom.png" srcset="images/logos-and-buttons/get-support-bottom@2x.png 2x, images/logos-and-buttons/get-support-bottom@3x.png 3x" width="1" height="1" alt="get support")
    img(src="images/logos-and-buttons/get-support-top.png" srcset="images/logos-and-buttons/get-support-top@2x.png 2x, images/logos-and-buttons/get-support-top@3x.png 3x" width="1" height="1" alt="get support")
    img(src="images/logos-and-buttons/logo.png" srcset="images/logos-and-buttons/logo@2x.png 2x, images/logos-and-buttons/logo@3x.png 3x" width="1" height="1" alt="Vhi logo")
    img(src="images/logos-and-buttons/vhi-logo.png" width="1" height="1" alt="Vhi logo")
    img(src="images/icons/cal-icon.png" srcset="images/icons/cal-icon@2x.png 2x, images/icons/cal-icon@3x.png 3x" width="1" height="1" alt="Calender icon")
    img(src="images/icons/chat.png" srcset="images/icons/chat.png@2x.png 2x, images/icons/chat.png@3x.png 3x" width="1" height="1" alt="Chat icon")
    img(src="images/icons/check-mood.png" srcset="images/icons/check-mood.png@2x.png 2x, images/icons/check-mood.png@3x.png 3x" width="1" height="1" alt="Check Mood icon")
    img(src="images/icons/check-your-mood-hover-icon.png" srcset="images/icons/check-your-mood-hover-icon@2x.png 2x, images/icons/check-your-mood-hover-icon@3x.png 3x" width="1" height="1" alt="Check Mood Hover icon")
    img(src="images/icons/check-your-mood-icon.png" srcset="images/icons/check-your-mood-icon@2x.png 2x, images/icons/check-your-mood-icon@3x.png 3x" width="1" height="1" alt="Check Mood icon")
    img(src="images/icons/check-your-mood-select-icon.png" srcset="images/icons/check-your-mood-select-icon@2x.png 2x, images/icons/check-your-mood-select-icon@3x.png 3x" width="1" height="1" alt="Check Mood Select icon")
    img(src="images/icons/crisis-support.png" srcset="images/icons/crisis-support@2x.png 2x, images/icons/crisis-support@3x.png 3x" width="1" height="1" alt="Crisis Support icon")
    img(src="images/icons/get-support-icon.png" srcset="images/icons/get-support-icon@2x.png 2x, images/icons/get-support-icon@3x.png 3x" width="1" height="1" alt="Get Support icon")
    img(src="images/icons/get-support-now-hover-icon.png" srcset="images/icons/get-support-now-hover-icon@2x.png 2x, images/icons/get-support-now-hover-icon@3x.png 3x" width="1" height="1" alt="Get Support Now Hover icon")
    img(src="images/icons/get-support-now-icon.png" srcset="images/icons/get-support-now-icon@2x.png 2x, images/icons/get-support-now-icon@3x.png 3x" width="1" height="1" alt="Get Support Now icon")
    img(src="images/icons/get-support-now-select-icon.png" srcset="images/icons/get-support-now-select-icon@2x.png 2x, images/icons/get-support-now-select-icon@3x.png 3x" width="1" height="1" alt="Get Support Now Select icon")
    img(src="images/icons/heart.png" srcset="images/icons/heart@2x.png 2x, images/icons/heart@3x.png 3x" width="1" height="1" alt="Heart icon")
    img(src="images/icons/phone.png" srcset="images/icons/phone@2x.png 2x, images/icons/phone@3x.png 3x" width="1" height="1" alt="Phone icon")
    img(src="images/icons/tools-information-hover-icon.png" srcset="images/icons/tools-information-hover-icon@2x.png 2x, images/icons/tools-information-hover-icon@3x.png 3x" width="1" height="1" alt="Tools & Information Hover icon")
    img(src="images/icons/tools-information-icon.png" srcset="images/icons/tools-information-icon@2x.png 2x, images/icons/tools-information-icon@3x.png 3x" width="1" height="1" alt="Tools & Information icon")
    img(src="images/icons/tools-information-select-icon.png" srcset="images/icons/tools-information-select-icon@2x.png 2x, images/icons/tools-information-select-icon@3x.png 3x" width="1" height="1" alt="Tools & Information Select icon")
    img(src="images/icons/video-chat.png" srcset="images/icons/video-chat@2x.png 2x, images/icons/video-chat@3x.png 3x" width="1" height="1" alt="Video Chat icon")
    img(src="images/icons/x-grey-small.png" srcset="images/icons/x-grey-small@2x.png 2x, images/icons/x-grey-small@3x.png 3x" width="1" height="1" alt="X grey icon")
    img(src="images/icons/x-orange.png" srcset="images/icons/x-orange@2x.png 2x, images/icons/x-orange@3x.png 3x" width="1" height="1" alt="X orange icon")
    img(src="images/icons/x-white.png" srcset="images/icons/x-white@2x.png 2x, images/icons/x-white@3x.png 3x" width="1" height="1" alt="X orange icon")
    img(src="images/courses/MumWithKids.jpg" width="1" height="1")
    img(src="images/courses/christiana-rivers-258740-unsplash.jpg" width="1" height="1")
    img(src="images/courses/guilherme-stecanella-375176.jpg" width="1" height="1")
    img(src="images/courses/jake-young-168598-unsplash.jpg" width="1" height="1")
    img(src="images/carousel/3-benefits-to-paying-it-forward-280x218.jpg" width="1" height="1")
    img(src="images/carousel/baby-blues-280x218.jpg" width="1" height="1")
    img(src="images/carousel/combating-workplace-bullying-280x218.jpg" width="1" height="1")
    img(src="images/carousel/cope-with-loss-280x218.jpg" width="1" height="1")
    img(src="images/carousel/dealing-with-social-anxiety-280x218.jpg" width="1" height="1")
    img(src="images/carousel/depression-recognising-the-subtle-signs-280x218.jpg" width="1" height="1")
    img(src="images/carousel/keeping-on-top-of-stress-at-work-280x218.jpg" width="1" height="1")
    img(src="images/carousel/parenting-expert-niamh-hannan-280x218.jpg" width="1" height="1")
    img(src="images/carousel/tantrums-280x218.jpg" width="1" height="1")
    img(src="images/carousel/understanding-280x218.jpg" width="1" height="1")
    img(src="images/carousel/unplug-from-technology-280x218.jpg" width="1" height="1")
    img(src="images/articles/3-benefits-to-paying-it-forward.jpg" width="1" height="1")
    img(src="images/articles/baby-blues.jpg" width="1" height="1")
    img(src="images/articles/combating-workplace-bullying.jpg" width="1" height="1")
    img(src="images/articles/cope-with-loss.jpg" width="1" height="1")
    img(src="images/articles/dealing-with-social-anxiety.jpg" width="1" height="1")
    img(src="images/articles/depression-recognising-the-subtle-signs.jpg" width="1" height="1")
    img(src="images/articles/keeping-on-top-of-stress-at-work.jpg" width="1" height="1")
    img(src="images/articles/parenting-expert-niamh-hannan.jpg" width="1" height="1")
    img(src="images/articles/tantrums.jpg" width="1" height="1")
    img(src="images/articles/understanding.jpg" width="1" height="1")
    img(src="images/articles/unplug-from-technology.jpg" width="1" height="1")