#tools-info-panel.row
    .col-sm-12
        .title Tools & Information
    .col-sm-12
        .blogs
            .blog-panel
                .blog-image.panel-1.understanding-language-mental-health-btn.col-sm-offset-1.col-sm-10
                .blog-container.col-sm-offset-1.col-sm-10
                    .title.understanding-language-mental-health-btn Understanding the language of mental health
                    .description An estimated one in five of us in Europe will experience mental health problems at some stage in our life. This can range from a low period up to something ...
                    #understanding-language-mental-health-btn.understanding-language-mental-health-btn.blog-link Read More
            .blog-panel
                .blog-image.panel-2.manage-child-tantrums-btn.col-sm-offset-1.col-sm-10
                .blog-container.col-sm-offset-1.col-sm-10
                    .title.manage-child-tantrums-btn How do I manage and reduce my child’s tantrums?
                    .description Parents know all too well that, unfortunately, tantrums are a part of life when bringing up little ones. Even the most placid of children will occasionally have a little wobble. ...
                    #manage-child-tantrums-btn.manage-child-tantrums-btn.blog-link Read More
            .blog-panel
                .blog-image.panel-3.baby-blues-and-postnatal-depression-lets-talk-btn.col-sm-offset-1.col-sm-10
                .blog-container.col-sm-offset-1.col-sm-10
                    .title.baby-blues-and-postnatal-depression-lets-talk-btn Coping with the Baby Blues: A Helpful Guide
                    .description Although a beautiful occasion in life, having a baby is a big adjustment. You have new responsibilities, your sleep is seriously impacted, and life is very different from the time ...
                    #baby-blues-and-postnatal-depression-lets-talk-btn.baby-blues-and-postnatal-depression-lets-talk-btn.blog-link Read More
            .blog-panel
                .blog-image.panel-4.help-cope-loss-loved-one-btn.col-sm-offset-1.col-sm-10
                .blog-container.col-sm-offset-1.col-sm-10
                    .title.help-cope-loss-loved-one-btn 5 tips to help you cope with the loss of a loved one
                    .description While it’s something that we all will experience in our life, losing a loved one is one of the most difficult things to go through.  There are ways to get ...
                    #help-cope-loss-loved-one-btn.help-cope-loss-loved-one-btn.blog-link Read More
            .blog-panel
                .blog-image.panel-5.unplug-from-technology-btn.col-sm-offset-1.col-sm-10
                .blog-container.col-sm-offset-1.col-sm-10
                    .title.unplug-from-technology-btn It’s good to unplug from technology every now and then – here’s why
                    .description While technology keeps us connected and on top of everything, we’re probably all too aware ...
                    #unplug-from-technology-btn.unplug-from-technology-btn.blog-link Read More
            .blog-panel
                .blog-image.panel-6.dealing-with-social-anxiety-btn.col-sm-offset-1.col-sm-10
                .blog-container.col-sm-offset-1.col-sm-10
                    .title.dealing-with-social-anxiety-btn Dealing with social anxiety? Here are some ways to manage it
                    .description While of course there’s no time of year ideal to have social anxiety rear its head, the ...
                    #dealing-with-social-anxiety-btn.dealing-with-social-anxiety-btn.blog-link Read More
            .blog-panel
                .blog-image.panel-7.combating-workplace-bullying-btn.col-sm-offset-1.col-sm-10
                .blog-container.col-sm-offset-1.col-sm-10
                    .title.combating-workplace-bullying-btn Your guide to coping with and combating workplace bullying
                    .description Being bullied by a colleague or employer can lead to feelings of anger, hurt, fear, ...
                    #combating-workplace-bullying-btn.combating-workplace-bullying-btn.blog-link Read More
            .blog-panel
                .blog-image.panel-8.parenting-expert-niamh-hannan-btn.col-sm-offset-1.col-sm-10
                .blog-container.col-sm-offset-1.col-sm-10
                    .title.parenting-expert-niamh-hannan-btn We spoke to parenting expert Niamh Hannan to get the low-down on self-care when raising kids
                    .description Parenting is a lifelong role ...
                    #parenting-expert-niamh-hannan-btn.parenting-expert-niamh-hannan-btn.blog-link Read More
            .blog-panel
                .blog-image.panel-9.benefits-to-paying-it-forward-btn.col-sm-offset-1.col-sm-10
                .blog-container.col-sm-offset-1.col-sm-10
                    .title.benefits-to-paying-it-forward-btn 3 benefits to paying it forward
                    .description Donating to charity, giving someone a thoughtful present, getting in touch with someone who needs some support – there are many ways you can give ...
                    #benefits-to-paying-it-forward-btn.benefits-to-paying-it-forward-btn.blog-link Read More
            .blog-panel
                .blog-image.panel-10.keeping-on-top-of-stress-at-work-btn.col-sm-offset-1.col-sm-10
                .blog-container.col-sm-offset-1.col-sm-10
                    .title.keeping-on-top-of-stress-at-work-btn Keeping on top of stress at work – simple tips to build mental fortitude
                    .description Feeling a bit snowed under at work? Well, you’re certainly not alone. According to research undertaken in ...
                    #keeping-on-top-of-stress-at-work-btn.keeping-on-top-of-stress-at-work-btn.blog-link Read More
            .blog-panel
                .blog-image.panel-11.depression-recognising-the-subtle-signs-btn.col-sm-offset-1.col-sm-10
                .blog-container.col-sm-offset-1.col-sm-10
                    .title.depression-recognising-the-subtle-signs-btn Depression: Recognising the Subtle Signs
                    .description Over the past few years, the perception of depression in Irish society has improved dramatically. However, it’s still somewhat of a taboo and misunderstood illness ...
                    #depression-recognising-the-subtle-signs-btn.depression-recognising-the-subtle-signs-btn.blog-link Read More