.popup-fade-overlay
#crisis-support
    .exit-popup.close-crisis-support-btn
    .popup-icon
    .popup-title CRISIS SUPPORT
    .call-999
        .call-999-inner WHILE OUR COUNSELLORS ARE AVAILABLE NOW, IF YOU FEEL THAT YOU OR ANOTHER PERSON ARE IN
            |  IMMEDIATE DANGER, WE STRONGLY RECOMMEND THAT YOU
            span  CALL 999
            |  OR ATTEND YOUR CLOSEST EMERGENCY DEPARTMENT.
        a#call-999-btn.popup-button(href="tel:999") Call 999
            .icon
    .how-to-respond
        .title WHAT TO DO IN A CRISIS
        .description
            p Stay calm. Talk slowly and use reassuring tones.
                br
                | Say, “I’m here. I care."
            p You should stay with them and help them call 999 for an ambulance, or help them get to an Emergency Department. It may also be helpful to remove things that they could use to harm themselves, particularly if they have mentioned specific things they might use.
            p If you feel personally in danger right now, or that others are in immediate danger – you can dial 999 and ask for the police to help. You might feel worried about getting someone in trouble, but it's important to put your own safety first.
    #more-details
        .row-1
            p IF YOU OR SOMEONE YOU KNOW IS AT RISK OF SUICIDE OR SELF-HARM, YOU SHOULD MAKE CONTACT IMMEDIATELY WITH ONE OF THE FOLLOWING:
            ul.listStyle
                li
                    p PHONE OR GO TO YOUR LOCAL DOCTOR
                li
                    p GO TO THE EMERGENCY DEPARTMENT OF THE NEAREST HOSPITAL
                li
                    p CALL 999
        #close-crisis-support-btn.close-crisis-support-btn Close