.popup-fade-overlay
#crisis-support
    .exit-popup.close-crisis-support-btn
    .popup-icon
    .popup-title CRISIS SUPPORT
    .call-999
        .call-999-inner WHILE OUR COUNSELLORS ARE AVAILABLE NOW, IF YOU FEEL THAT YOU OR ANOTHER PERSON ARE IN
            |  IMMEDIATE DANGER, WE STRONGLY RECOMMEND THAT YOU
            span  CALL 999
            |  OR ATTEND YOUR CLOSEST EMERGENCY DEPARTMENT.
        a#call-999-btn.popup-button(href="tel:999") Call 999
            .icon
    .how-to-respond
        .title WHAT TO DO IN A CRISIS
        .description
            p Stay calm. Talk slowly and use reassuring tones.
                br
                | Say, “I’m here. I care."
            p You should stay with them and help them call 999 for an ambulance, or help them get to an Emergency Department. It may also be helpful to remove things that they could use to harm themselves, particularly if they have mentioned specific things they might use.
            p If you feel personally in danger right now, or that others are in immediate danger – you can dial 999 and ask for the police to help. You might feel worried about getting someone in trouble, but it's important to put your own safety first.
    #show-more-btn.popup-button Show More
    #show-less-btn.popup-button(style="display: none;") Show Less
    #more-details(style="display: none;")
        .row-1
            p IF YOU OR SOMEONE YOU KNOW IS AT RISK OF SUICIDE OR SELF-HARM, YOU SHOULD MAKE CONTACT IMMEDIATELY WITH ONE OF THE FOLLOWING:
            ul.listStyle
                li
                    p PHONE OR GO TO YOUR LOCAL DOCTOR
                li
                    p GO TO THE EMERGENCY DEPARTMENT OF THE NEAREST HOSPITAL
                li
                    p CALL 999
        .row-2
            p Most helplines will provide a listening service, give information and advice, provide emotional support and point you in the direction of other services. They are often free-phone services which are staffed by trained volunteers or employees.
        .line
        .emergency-details
            table
                tr
                    th
                        .organisation-contact-info
                            .type TALK ABOUT ANYTHING
                            .org The Samaritans
                            .site
                                a(href="https://www.samaritans.org/") www.samaritans.org
                            .phone Free phone:
                                a(href="tel:116123") 116 123
                            .email Email:
                                a(href="mailto:jo@samaritans.org" target="_top") jo@samaritans.org
                    th
                        .organisation-contact-info
                            .type Depression, Bipolar Disorder & Anxiety
                            .org Aware
                            .site
                                a(href="https://www.aware.ie/") www.aware.ie
                            .phone Tel:
                                a(href="tel:1800804848") 1800 80 48 48
                            .email Email:
                                a(href="mailto:supportmail@aware.ie" target="_top") supportmail@aware.ie
                tr
                    th
                        .organisation-contact-info
                            .type SUICIDE & SELF-HARM
                            .org Pieta House
                            .address National Suicide Helpline (Pieta House)
                            .phone
                                a(href="tel:1800247247") 1800 247 247
                            .site
                                a(href="http://www.pieta.ie/") www.pieta.ie
                            .phone Tel:
                                a(href="tel:016235606") 01 623 5606
                    th
                        .organisation-contact-info
                            .type Online one to one or group counselling
                            .org Turn2Me.org
                tr
                    th
                        .organisation-contact-info
                            .type Mental Health support and Recovery
                            .org Grow
                            .site
                                a(href="http://grow.ie/") www.grow.ie
                            .phone Tel:
                                a(href="tel:1890474474") 1890 474 474
                    th
                        .organisation-contact-info
                            .type EATING DISORDERS
                            .org Bodywhys
                            .site
                                a(href="https://www.bodywhys.ie/") www.bodywhys.ie
                            .phone
                                a(href="tel:1890200444") 1890 200 444
                tr
                    th
                        .organisation-contact-info
                            .type Peer advocacy in mental health
                            .org Irish Advocacy Network
                            .site
                                a(href="http://irishadvocacynetwork.com/") www.irishadvocacynetwork.com
                            .phone Tel:
                                a(href="tel:018728684") 01 872 8684
                    th
                        .organisation-contact-info
                            .type Counselling & Psychotherapy
                            .org IACP
                            .site
                                a(href="https://iacp.ie/") www.iacp.ie
                            .phone Tel:
                                a(href="tel:012303536") 01 230 3536
                tr
                    th
                        .organisation-contact-info
                            .type Supporting people affected by mental ill health
                            .org Shine
                            .site
                                a(href="https://www.shine.ie/") www.shine.ie
                    th
                        .organisation-contact-info
                            .type Counselling & Psychotherapy
                            .org Irish Council for Psychotherapy
                            .site
                                a(href="http://www.psychotherapycouncil.ie/") www.psychotherapycouncil.ie
                            .phone Tel:
                                a(href="tel:019058698") 01 905 8698
                tr
                    th
                        .organisation-contact-info
                            .org Childline
                            .phone
                                a(href="tel:1800666666") 1800 66 66 66
                                |  24hr a day
                            .desc One to one chat – 10am-4am
                            .desc Text BULLY or TALK or HELP to 50101 from 10am to 4am
                    th
                        .organisation-contact-info
                            .type Online youth mental health service
                            .org OutReach
                            .site
                                a(href="http://www.irelandoutreach.org") www.irelandoutreach.org
                tr
                    th
                        .organisation-contact-info
                            .type Sexuality
                            .org Gay Switchboard Dublin
                            .site
                                a(href="http://www.gayswitchboard.ie") gayswitchboard.ie
                            .phone Helpline:
                                a(href="tel:018721055") 01 872 1055
                    th
                        .organisation-contact-info
                            .org Parentline
                            .site
                                a(href="http://www.parentline.ie/") parentline.ie
                            .phone Helpline:
                                a(href="tel:1890927277") 1890 92 72 77
                                |  or
                                a(href="tel:018733500") 01 873 3500
                tr
                    th
                        .organisation-contact-info
                            .type Abuse, domestic violence & rape
                            .org Amen Support Services Ltd.
                            .site
                                a(href="http://www.amen.ie/") amen.ie
                            .phone Helpline:
                                a(href="tel:0469023718") 046 902 3718
                    th
                        .organisation-contact-info
                            .org Aoibhneas Women and Children’s Refuge
                            .site
                                a(href="http://www.aoibhneas.ie/index.php/services") aoibhneas.ie/index.php/services
                            .phone Helpline:
                                a(href="tel:018670701") 01 867 0701
                tr
                    th
                        .organisation-contact-info
                            .type Children at risk in Ireland (CARI)
                            .org CARI
                            .site
                                a(href="http://www.cari.ie/") cari.ie
                            .phone Helpline:
                                a(href="tel:1890924567") 1890 92 45 67
                    th
                        .organisation-contact-info
                            .type Rape Crisis Help
                            .org Rape Crisis Network Ireland
                            .site
                                a(href="http://www.rapecrisishelp.ie/") rapecrisishelp.ie
                            .phone 24 Hour Helpline:
                                a(href="tel:1800778888") 1800 77 88 88
                tr
                    th
                        .organisation-contact-info
                            .type Women’s Aid
                            .org Rape Crisis Network Ireland
                            .site
                                a(href="https://www.womensaid.ie/") womensaid.ie
                            .phone Freephone:
                                a(href="tel:1800341900") 1800 34 19 00
                    th
                        .organisation-contact-info
                            .org The Dublin Rape Crisis Centre
                            .site
                                a(href="http://www.drcc.ie/get-help-and-information/our-services/helpline/") drcc.ie/get-help-and-information/helpline/
                            .phone 24 Hour Helpline:
                                a(href="tel:1800778888") 1800 77 88 88
                            .email Email:
                                a(href="mailto:counselling@rcc.ie" target="_top") counselling@rcc.ie
        #close-crisis-support-btn.close-crisis-support-btn Close